table {
    width: 70%;
    border-collapse: collapse;
    background-color: transparent;
    margin: auto;
    margin-top: 3rem;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: rgba(0, 0, 0, 0.1);
}