    <table>
        <thead>
            <tr>
                <th>Año</th>
                <th>Valor inversión</th>
                <th>Interés anual</th>
                <th>Interés total</th>
                <th>Capital invertido</th>
            </tr>
        </thead>
        <tbody>
            
            @for (anio of anios; track $index) {
                <tr>
                    <td>Dato 1</td>
                    <td>Dato 2</td>
                    <td>Dato 3</td>
                    <td>Dato 3</td>
                    <td>Dato 3</td>
                </tr>
            }
        </tbody>
    </table>
