<div style="padding-bottom: 2rem;">
    <div style="display: flex;">
        <div>
            <p>Inversión inicial</p>
            <input type="text">
        </div>
        <div>
            <p>Aportación anual</p>
            <input type="text">
        </div>
    </div>
    <div style="display: flex;">
        <div>
            <p>Tasa de retorno</p>
            <input type="text">
        </div>
        <div>
            <p>Duración</p>
            <input type="text">
        </div>
    </div>
    <button (click)="datosIntroducidos()">Calcular</button>
</div>
<p style="display: grid; place-items: center;">Introduce tus datos y pulsa "Calcular"</p>